[submodule "src/github.com/inexorabletash/polyfill"]
	path = src/github.com/inexorabletash/polyfill
	url = https://github.com/inexorabletash/polyfill.git
[submodule "src/github.com/gopherjs/gopherjs"]
	path = src/github.com/gopherjs/gopherjs
	url = https://github.com/gopherjs/gopherjs.git
