/bin/
/lib/
/pkg/
/tmp/
/src/github.com/fsnotify/fsnotify/
/src/github.com/gopherjs/gopherjs/
/src/github.com/gorilla/websocket/
/src/github.com/kisielk/gotool/
/src/github.com/neelance/sourcemap/
/src/github.com/spf13/cobra/
/src/github.com/spf13/pflag/
/src/github.com/tsavola/pointer/
/src/golang.org/x/crypto/
/src/golang.org/x/sys/
/src/golang.org/x/tools/
